
.container{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    flex-wrap: wrap;
   
    background: silver;
}
.caixa{
    flex-grow: 2;
    width: 100px;
    height: 100px;
}
.red{
    flex-grow: 3;
    align-self: center;
    background-color: red;
    
}
.blue{
   align-self: flex-end;
    background-color: blue;
}
.yellow{
    
    align-self: flex-start;
    background-color: yellow;
}
.green{
    
    background-color: green;
}