body{
    background: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg);
    
}

ul{
    padding: 20px;
    background: gray;
    opacity: 0.9;
}
ul li{
    display: inline;
    margin: 20px;
}